{{template "header"}}

{{define "title"}}О нас{{end}}
<body>


    <section class="section">
            <div class="container">
                
                <div class="section_header">
                    <h3 class="section___suptitle">Что мы предлагаем</h3>
                    <h2 class="section___title">О нас</h2>
                    <div class="section___text">
                    <p>Шахматы – это спорт. Достичь высоких показателей в спорте можно, используя все способы и средства тренировки и совершенствования мастерства.Для шахматиста – развитие интеллектуальных способностей, определяющих правильный выбор хода, — оперативная память и оценка позиции. Шахматные тренинги помогут вам развить эти умения.</p>
                    
                    </div>
                </div>
                
                <div class="about">
                    <div class="about___item">
                        <div class="about___img">
                            <img src="assets/images/shahm1.jpg" alt="">
                        </div>
                    </div>
                    <div class="about___item">
                        <div class="about___img">
                            <img src="assets/images/shahm2.jpg" alt="">
                        </div>
                    </div>
                    <div class="about___item">
                        <div class="about___img">
                            <img src="assets/images/shahm3.jpg" alt="">
                        </div>
                    </div>
                </div>
                
                
            </div>
        
    </section>  
</body>
</html>